@use 'colors';

$rozestup: 15px;

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

h1 {
    color: colors.$c-primary;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

h2 {
    color: colors.$c-gray;
    font-size: 25px;
}

h3 {
    background-color: colors.$c-primary;
    color: white;
    padding: $rozestup;
    text-align: center;
    margin: $rozestup auto;
    max-width: 1040px;
}

p {
    font-size: 19px;
}

p a {
    color: black;
}

p a:visited {
    color: black;
}

p a:focus {
    color: colors.$c-primary;
}
p a:hover {
    color: colors.$c-primary;
}

