@use 'colors';

$rozestup: 15px;

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

h1 {
    color: colors.$c-primary;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}