@use 'colors';
@use 'basic';

.contact {
	text-align: center;

	&__grid {
		display: grid;
		gap: basic.$rozestup;
	}

	&__title {
		margin-top: 2*basic.$rozestup;
	}
}

.form-field {
	margin-bottom: basic.$rozestup;
}

.form-field label {
	display: block;
	color: black;
	font-size: basic.$rozestup;
	margin-bottom: (basic.$rozestup)/2;
}

.form-field :is(input, textarea, select) {
	width: 100%;
	padding: (basic.$rozestup)/2;
	border: 1px solid (colors.$c-gray);
	border-radius: 4px;
}

.required:after {
	content: "*";
	color: red;
	margin-left: 4px;
}

.button {
	padding: (basic.$rozestup)/2 2*(basic.$rozestup);
	color: white;
	background-color: colors.$c-primary;
	font-size: 1rem;
	border: 1px solid colors.$c-primary;
	cursor: pointer;
}

.map {
	margin-top: basic.$rozestup;
}

@media screen and (min-width: 800px) {
	.contact {
		text-align: left;

		&__grid {
			grid-template-columns: 1fr 1fr;
		}
	}
}
