@use 'colors';
@use 'basic';

.footer {
    margin-top: 50px;
    background-color: black;
    color: colors.$c-gray;
    padding: basic.$rozestup;
    text-align: center;

    &__copyright {
        display: block;
        text-align: center;
        font-size: basic.$rozestup;
    }

    &__logo {
        margin: basic.$rozestup;
        width: 55px;
    }

    &__p {
        font-size: basic.$rozestup;
    }

    a {
        color: colors.$c-gray;
    }    
}

@media screen and (min-width: 800px) {

    
    .footer {

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, 33.333%);
            justify-items: center;
            gap: 0;
        }

        &__grid--column {
            text-align: center;
        }
    }
}