@use 'colors';

.menu__checkbox {
    position: absolute;
    left: -9999px;
}

.menu__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: colors.$c-primary;
    z-index: 10;
}

.menu__item {
    border-bottom: 1px solid white;
}

.menu__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.menu__link:hover {
    background-color: #23baec;
}

.menu__toggler {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 799px) {
    .menu__checkbox:checked ~ .menu__list {
        display: block;
    }

    .menu__list {
        position: absolute;
        margin-top: 15px;
        right: 15px;
    }
}

@media screen and (min-width: 800px) {
    .menu {
        width: 100%;
        background-color: colors.$c-primary;
    }

    .menu__toggler {
        display: none;
    }

    .menu__list {
        display: flex;
        margin: 0 auto;
        max-width: 1040px;
        justify-content: center;
    }

    .menu__item {
        border-bottom: 0;
        border-right: 1px solid white;
    }

    .menu__item:first-child {
        border-left: 1px solid white;
    }
}