@use 'colors';
@use 'basic';
@use 'contact';

.hero {
    margin-top: basic.$rozestup;
    height: 250px;
    max-width: basic.$desktop-width;
    background: url("/images/hero_image_coffee.jpg") center / cover;
    position: relative;

    &__text {
        width: 100%;
        position: absolute;
    }

    &__text--nadpis {
        background-color: white;
    }
}