@use 'colors';
@use 'navigation';
@use 'footer';
@use 'basic';
@use 'header';
@use 'calendar';
@use 'contact';
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;600&display=swap');


body {
    margin: 0;
    font-family: "Readex Pro";
}

.main {
    padding: basic.$rozestup;
}

section {
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 40px;
    align-items: center;
    }

.gallery--uvod {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}

.gallery--onas {
    display: grid;
    text-align: center;
}


.gallery__image {
    max-width: 100%;
}

.grid__column--opening {
    grid-row-start: 2;
}

.highlight {
    color: colors.$c-primary;
}

@media screen and (min-width: 800px) {

    .gallery--onas {
        grid-template-columns: repeat(3, auto);
        gap: basic.$rozestup;
    }

    .grid__column--text {
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .grid__column--opening {
        grid-column-start: 2;
    }

    
}

